<div class="simple-form">
	<div class="form-group">
		<label for="gymnasts">Gymnater som liste</label>
		<textarea rows="6" @bind="Gymnasts" type="text" class="form-control" id="gymnasts" placeholder="Tilføj gymnaster" />
	</div>

	<button @onclick="SubmitForm" class="btn btn-primary">Tilføj gymnaster</button>
	<button @onclick="Cancel" class="btn btn-secondary">Afbryd</button>
</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

	string Gymnasts { get; set; }

	protected override void OnInitialized() => BlazoredModal.SetTitle("Tilføj liste af gymnaster med linjeskift imellem");

	void SubmitForm() => BlazoredModal.Close(ModalResult.Ok(Gymnasts));
	void Cancel() => BlazoredModal.Cancel();
}