<li>
	<button class="btn-group-lg" @onclick="@InvokeParentMethod">@Gymnast.Name</button>
</li>

@code {
	[Parameter]
	public Gymnast Gymnast { get; set; }

	[Parameter]
	public Action<Gymnast> ReturnGymnast { get; set; }

	private void InvokeParentMethod()
	{
		ReturnGymnast?.Invoke(Gymnast);
	}
}